%%% -*- erlang -*-
{deps, []}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, ".eunit"}]}}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{erl_opts,
 [debug_info,
  deterministic,
  warn_unused_import,
  warnings_as_errors,
  warn_missing_spec,
  {platform_define, "^[0-9]+", namespaced_types}]}.

{profiles,
 [{elvis, [{deps, [{elvis, {git, "https://github.com/inaka/elvis.git", {tag, "3.2.6"}}}]}]},
  {test, [{erl_opts, [nowarn_missing_spec]}]}]}.

{dialyzer, [{plt_apps, all_deps}, {warnings, [unknown, underspecs]}]}.

{xref_checks, [deprecated_function_calls, undefined_function_calls]}.

{shell, [{apps, [speed_trap]}]}.

{project_plugins, [rebar3_format, rebar3_hex, rebar3_ex_doc, rebar3_check_app_calls, rebar3_hank]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{plugins, [{gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}]}.

{format,
 [{options,
   #{paper => 100,
     ribbon => 100,
     parse_macro_definitions => true,
     truncate_strings => true,
     break_indent => 2,
     inline_qualified_function_composition => true,
     output_dir => current}}]}.

{ex_doc,
 [{extras, [{'README.md', #{title => <<"Overview">>}}, {'LICENSE', #{title => <<"License">>}}]},
  {main, <<"readme">>},
  {homepage_url, <<"https://github.com/klarna/speed_trap">>},
  {source_url, <<"https://github.com/klarna/speed_trap">>}]}.
